---
import { getCollection } from "astro:content";
import PostCard from "../components/PostCard";
import Layout from "../layouts/Layout.astro";

const blogs = await getCollection("blogs");
---

<Layout title="blog">
    <h1 class="text-3xl md:text-6xl mb-2 md:mb-4">Blog</h1>
    <p class="text-xl text-slate-600 dark:text-slate-400 md:text-2xl mb-8 md:mb-16">
        This is my personal collection of things I am learning and documenting for reference. If it benefits you (or me
        again) worth it.
    </p>
    {
        blogs.map((blog) => {
            return (
                <PostCard
                    title={blog.data.title}
                    description={blog.data.description}
                    slug={blog.slug}
                    date={blog.data.date}
                    tags={blog.data.tags}
                />
            );
        })
    }
</Layout>
